body { 
font-family: 'Merriweather Sans', sans-serif;
font-weight: 400;
}
h1 {
padding-top: 2rem;	
text-align: center;
font-family: 'Merriweather Sans', sans-serif;
font-weight: 400;
}
h1 strong {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: extrabold;
}
h2 {
	text-align: center;
	font-weight: 400;
}
p {
	text-align: center;
	line-height: 1.6rem;
}
a {
	font-style: italic;
}
h5 {
	text-align: center;
}
.facebook-btn {
	text-align: center;
}
.facebook-btn a {
	font-size: 1.3rem;
	font-style: normal;
	font-weight: semibold;
	color: #fff;
	text-decoration: none;
	background-color: #444;
	border: 1px solid #444;
	padding-left: 6px;
	padding-right:6px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.facebook-btn a:hover {
	background-color: #AAA;
	color: #fff;
}
.shameless-irc-plug{
	padding-top: 1rem;
	font-size: .7rem;
	text-align:center;
	font-weight: semibold;
}
.irc-btn-grp {
	text-align: center;
}
.irc-btn-grp a {
	font-size: .8rem;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	background-color: #444;
	border: 1px solid #444;
	padding-left: 5px;
	padding-right:5px;
	padding-top: 3px;
	padding-bottom: 2px;
}
.irc-btn-grp a:hover {
	background-color: #AAA;
	color: #fff;
}
